@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(234, 230, 224) !important;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}


#cv-h1 {
    text-align: center;
    color: tomato;
    border: 1px solid;
    background-color: rgb(234, 230, 224);
    padding-top: 20px;
    padding-bottom: 20px;
}

#id-p-competencias{
    margin-top: 25px;
    margin-bottom: 25px;
}

.competencias {
    border-bottom: 1px solid;
    border-color: black;
}

.encabezado {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: tomato;
    color: white;
}

.encabezado-principal {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: tomato;
    color: white;
}

.encabezado-principal .nombre {
    font-size: 50px;
}

.encabezado-principal p {
    font-size: 30px;
}

.fecha {
    color: grey;
}

.p-perfil {
    padding-top: 25px;
    padding-bottom: 20px;
}
